<div class="col-12">
    <div class="alert alert-info alert-dismissible">
        <h6><i class="icon fa fa-info"></i> This is a sample Dashboard which doesn't show any server side data. However, you can develop your own dashboard inspired by this one and its source code.</h6>
    </div>
</div>
@code {

}
