@using BatDemo
<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0);">SH DIGITAL</a>.</strong> All rights reserved.
    <div class="d-none d-sm-inline-block float-right">
        <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</footer>








