<div class="abp-advanced-search">
    <form id="RolesSearchForm" class="form-horizontal">
        <div class="dxbl-grid-search-box dxbl-text-edit">
            <button class="dxbl-btn dxbl-btn-outline-secondary dxbl-btn-icon btn-search" aria-hidden="true" tabindex="-1" type="button">
                <svg class="dxbl-image" aria-hidden="true" focusable="false">
                    <use href="_content/DevExpress.Blazor/dx-blazor-f98cd0f48e.svg#dx-search"></use>
                </svg>
            </button>
            <input type="text" name="Keyword" class="dxbl-text-edit-input txt-search" placeholder="Nhập từ khóa tìm kiếm...">
        </div>
    </form>
</div>
