/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
    min-width: 65px;
}

/* bootstrap model showing two scroll bars */
html {
    overflow: visible;
}

/* main sidebar not under model */
.modal {
    z-index: 1110;
}

.content-header h1 {
    font-size: 1.5rem;
}

.card {
    box-shadow: none;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.nav-user-menu .user-image {
    width: 20px;
}

.dxbl-grid .dxbl-grid-empty-data-area .dxbl-image {
    display: inline-block;
}

.brand-link {
    display: flex;
    -webkit-align-items: end;
    align-items: end;
}

.brand-link .brand-image {
    margin-top: 0;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link > .nav-icon {
        margin-left: .5rem;
    }
}

.nav-flat .nav-item > .nav-link > .nav-icon {
    font-size: 1rem;
    margin-left: 0;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon {
    font-size: 13px;
    width: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nav-treeview {
    > .nav-item {
        > .nav-link {
            padding-left: 22px;
        }
    }
}

.nav-treeview .nav-treeview {
    > .nav-item {
        .nav-link {
            padding-left: 38px;
        }
    }
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        margin-left: 280px;
    }

    .main-sidebar, .main-sidebar::before, .sidebar-mini .main-sidebar .nav-flat .nav-link {
        width: 280px;
    }
}
